%link
  +transition(color, background-color, border-color)
  background: none
  color: $link-color
  outline: 0
  text-decoration: none

  +hover
    color: $link-hover-color
    text-decoration: none
