.html
  background: mix($primary-color, #bbb, 50)
  height: 100%

  &.-sandbox
    background: mix($primary-sandbox-color, #bbb, 50)

.html_body
  padding: 0 0 $grid
  margin: 0
  min-height: 100%
  overflow-x: hidden
  overflow-y: scroll
