.tg.breadcrumbs
  @extend %breadcrumbs
  margin-bottom: (-$grid * 0.5)
  padding: (ceil($grid * 0.25)) ($grid * 2) (floor($grid * 0.25))

  +respond-to(small)
    padding-left: $grid
    padding-right: $grid
