.tgrep.project-preview
  margin-bottom: 2em

  a
    transition: none
    +hover
      border-bottom: none
      color: $link-color

.tgrep.project-preview_avatar
  height: 250px
  width: 250px
  margin-left: auto
  margin-right: auto
  display: flex
  align-items: center
  padding: 1em

  +respond-to(tiny)
    height: 150px
    width: 150px

  img
    width: 100%
    max-height: 250px

.tgrep.project-preview_title
  height: 4em
  margin-top: 2em

  h3
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    display: -webkit-box
    overflow: hidden

.tgrep.project-preview_description
  p
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    display: -webkit-box
    overflow: hidden
    height: 8em

.tgrep.project-preview_row
  display: flex
  gap: 2em
  margin: 0

  +respond-to(large)
    display: block

.tgrep.project-preview_column
  cursor: pointer
  flex: 1
  padding: 0.5em 0 0 0

  +hover
    box-shadow: 0 -1px $link-hover-color, 0 1px $link-hover-color

.tgrep.project-preview_footer
  text-align: center
  padding-top: 1em

  .button
    @extend %button
    +modify-button(pale)
    +icon('arrow-right')
    width: 20em
